<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<link rel="stylesheet" href="/css/styles_menu.css">
<div class="menu_bar">
    <a href="#" class="bt-menu"><span class="icon-list2"></span>Menu</a>
</div>

<nav>
    <ul>
        <li><a href="#"><span class=""></span>Inicio</a></li>
        <li><a href="#"><span class=""></span>Datos cliente</a></li>
    </ul>
</nav>


<script src="/js/script_menu.js"></script>